:root {
  font-family: "Raleway", "Open Sans", sans-serif;
  color: white;
  box-sizing: border-box;
}

h2 {
  font-size: 120%;
  font-weight: bold;
}

h6 {
  font-size: 105%;
  font-weight: bold;
}

body {
  padding-top: 2%;
  background-color: #85C6B8;
}

a.button {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid black;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #e8a87c;
  text-align: center;
  transition: all 0.15s;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

a.button:hover {
  text-shadow: 0 0 2em white;
  color: white;
  border-color: white;
  cursor: pointer;
}

header {
  margin-left: 15%;
  margin-right: 15%;
  padding: 2%;
  text-align: center;
  background-color: #e27d60;
  font-variant: small-caps;
  font-size: 200%;
  font-weight: 800;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
}

ul {
  padding-left: 0;
  margin-left: 1em;
  list-style-type: square;
}

#messageFooter {
  position: fixed;
  display: none;
  padding: 1em;
  bottom: 0%;
  width: 100%;
  border-top: 2px solid black;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease-in-out;
}

.whiteHighlight {
  background-color: rgba(190, 190, 190, 0.829);
}

.error {
  background-color: #e27d60;
}

.info {
  background-color: #8BCDCA;
}

.friendly {
  background-color: #41b3a3;
}

#messageFooter p {
  margin-left: 15%;
}

/* For the close button. Ideally it would be an <a>nchor, but these can't have a background-image without visible content. */
#messageFooter a {
  margin-right: 15%;
}

#messageFooter img {
  height: 20px;
  width: auto;
  margin-left: 1em;
  margin-top: 0.3em;
}

#messageFooter img:hover {
  cursor: pointer;
}

#exceptionalCustomPrompt {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
#exceptionalCustomPrompt > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 7px 8px 0px -3px #000000;
  box-shadow: 7px 8px 0px -3px #000000;
  border: 1px solid #e27d60;
}
#exceptionalCustomPrompt input {
  width: 80%;
  padding: 0.3em;
  -moz-appearance: textfield;
  margin-right: 3%;
}
#exceptionalCustomPrompt input::-webkit-outer-spin-button,
#exceptionalCustomPrompt input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#exceptionalCustomPrompt div:last-child {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 0;
}
#exceptionalCustomPrompt div {
  padding-top: 1.5em;
}

#moneyManagement, #laptopContainer {
  margin: 2% 15% 2% 15%;
  padding: 2%;
  background-color: #41b3a3;
  border-radius: 5px;
  border: 1px solid black;
}

@media only screen and (max-width: 850px) {
  #moneyManagement, #laptopContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .management {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 850px) {
  #moneyManagement, #laptopContainer {
    display: flex;
    justify-content: space-around;
  }
}
.management {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
  flex-basis: 20%;
  background-color: #c38d9e;
}

.management h2 {
  margin-bottom: 0.4em;
}

.management > .moneyItem:last-of-type {
  padding-bottom: 2em;
}

.management.bank > a.button:last-child {
  margin-top: auto;
}

.management.work > div:last-child {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.management.work .moneyItem {
  margin-bottom: 2em;
}

.management.store > section > div {
  display: flex;
  flex-direction: column;
}

.management.store > select {
  margin-bottom: 1em;
}

.moneyItem {
  display: flex;
  justify-content: space-between;
}

/* Looks all right until ~1400px as row layout */
@media only screen and (min-width: 1400px) {
  #laptopContainer .laptopInfo {
    display: flex;
    visibility: hidden;
  }
}
@media only screen and (max-width: 1400px) {
  #laptopContainer .laptopInfo {
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }
}
#laptopContainer .laptopInfo {
  min-height: 250px;
  /* Make purchase button flush with .store element */
}
#laptopContainer .laptopInfo div {
  padding: 1em;
}
#laptopContainer .laptopInfo div > h2 {
  margin-bottom: 1em;
}
#laptopContainer .laptopInfo div:last-child {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  align-items: center;
}
#laptopContainer .laptopInfo div:last-child > a.button {
  margin-top: auto;
  width: 100%;
  padding: 1em;
}
#laptopContainer .laptopInfo > img {
  padding: 1em;
  width: 200px;
  height: auto;
  flex-basis: 20%;
  align-self: center;
}

#laptopContainer > span {
  position: relative;
}
#laptopContainer > span > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  visibility: visible;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.1s;
}
#laptopContainer > span > span > p {
  margin-top: -2em;
  margin-left: -4em;
}

/*# sourceMappingURL=styles.css.map */
